<div class="jumbotron">
<p>{{t "aboutTitle"}}
<br/>application.locale: {{application.locale}}
<br/>application.appName traducida: {{t application.appName}}
<br/>referenciada desde el controller: {{traducida}}</p>

{{outlet}}
</div>
